@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
    
    <div>
        
        <div class="text-center">
            <h1 style="color:mediumvioletred;">@ViewBag.Site</h1>
            @ViewBag.Greeting   World (from the view)
            <h3>We're going to have an exciting party!</h3>
            <h4>And you are invited</h4>

            <a class="btn btn-primary" asp-action="RsvpForm">Rsvp Now</a>
        </div>
    </div>
</body>
</html>
